<template>
    <div class="artists">
      <div class="artist" v-bind:key="artist.id" v-for="artist in artists">        
        {{artists}}
        <div>
          <div class="preview-img">
            <img src alt />
          </div>

          <p>{{artist.name}}</p>
          <p>{{artist.dob}}</p>
          <p>{{artist.isArtist}}</p>
          <p>{{artist.shop}}</p>
          <router-link :to="{name: 'ViewArtist', params: {name: artist.name}}">Visit artist</router-link>
        </div>
      </div>
    </div>
</template>

<script>
import db from "../firebaseInit";
export default {
  name: "Artists",
  components: {
  },
  created() {
    db.collection("artists")
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
        console.log("created -> doc", doc)
          const data = {
            name: doc.data().name,
            dob: doc.data().dob,
            // isArtist: doc.data().isArtist,
            id: doc.id,
            artist_id: doc.data().artist_id,
            shop: doc.data().shop
          };
          this.artists.push(data);          
        });
      });
  },
  data() {
    return {
      artists: []
    };
  },
  methods: {
    goToArtist() {}
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.artists {
  width: 100vw;
  height: 100vh;
  margin: 25px;
}
.artist {
  display: inline-block;
  float: left;
  border: solid 1px;
  margin: 5px 5px;
  background-color: #ddd;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.preview-img {
  width: 130px;
  height: 130px;
  margin: 10px auto 0px;
  border-radius: 50%;
  background-color: white;
  border: solid 1px black;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
