<template>
    <div class="artist">
        hi
        <h1>{{name}}</h1>
        {{dob}}
        {{shop}}
        {{isArtist}}
    </div>
</template>
<script>

import db from "../firebaseInit";

export default {
    name: "ViewArtist",
    data() {
        return {
            name: null,
            dob: null,
            shop: null,
            isArtist: null
            // artist_id: null
        }
    },
    watch: {
        "$route": "fetchData"
    },
    methods: {
        fetchData () {
            console.loe("fetching")
            db.collection("Artists").where("name", "==", this.$route.params.name).get().then(querySnapshot => {
                querySnapshot.forEach(doc => {
                    this.name = doc.data().name
                    this.dob = doc.data().dob
                    this.shop = doc.data().shop
                    this.isArtist = doc.data().isArtist
                })
            })
        }  
    }
}
</script>
<style scoped>

</style>